
//Fixing casino image size...

.swiper-items {
  border-radius: 3px !important;
  padding: 5px !important;
  width: fit-content !important;
  .swiper-cards {
    padding: 0 15px;
    height: 48px;
    cursor: pointer;
    .card-details {
      display: flex;
      align-items: center;
      flex-direction: column;
      .market-time {    
        font-size: 14px;
        font-weight: 600;
      }
      .race-name {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
      }
    }

    .flag-image {
      margin-right: 5px;
      height: 20px;
      width: 32px;
      border-radius: 3px;
    }
  }
}

.section-header {
  .icon {
    margin-top : -20px;
    padding-right: 10px;
    font-size: 32px;
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
    @media screen and (max-width: 577px) {
      font-size: 30px;
    }
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
  }
}

.casino-image {
  width: auto;
  min-width: 250px;
  @media screen and (max-width: 1399px){
    height: 200px;
    min-width: 200px;
  }
  @media screen and (max-width: 992px){
    height: 150px;
    min-width: 150px;
  }
  @media screen and (max-width: 480px){
    height: 100px;
    min-width: 100px;
  }
  height: 250px;
  display: block;
}


button.swiper-btn-prev {
  position: absolute;
  color: #fff;
  border:none;
  z-index: 100;
  overflow: visible;
  top: 43%;
  left: -12px;
  line-height: 6px;
  transform: translateY(-50%);
  background: var(--prev);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
  i {
    font-size: 12px;
  }
  &:hover {
    @include gradian-50;
  }
}

button.swiper-btn-next {
  position: absolute;
  color: #fff;
  border:none;
  z-index: 100;
  overflow: visible;
  top: 43%;
  right: -12px;
  line-height: 6px;
  transform: translateY(-50%);
  background: var(--prev);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
  i {
    font-size: 12px;
    line-height: 20px;
  }
  &:hover {
    @include gradian-50;
  }
}